{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "tabWidth": 2,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}